.cities-list {

  .weather-icon {
    float: left;
    margin-right: 15px;
  }

  .city-title {
    font-weight: bold;
    color: #17a2b8;
  }

  .country-flag {
    margin: 0 5px;
  }

  .weather-descr {
    font-style: italic;
    font-weight: bold;
  }

  .badge {
    margin-right: 5px;
  }
}
