
<table class="table table-striped cities-list">
  <tbody>
    <tr ng-repeat="city in cities">
      <td>
        <img
          ng-src="http://openweathermap.org/img/w/{{city.weather[0].icon}}.png"
          title={{city.weather[0].description}}
          alt={{city.weather[0].description}}
          class="weather-icon"
        />
        <a ng-href="#!/city/{{city.name}}?id={{city.id}}" class="city-title">{{city.name}}, {{city.sys.country}}</a>
        <img
          ng-src="http://openweathermap.org/images/flags/{{city.sys.country.toLowerCase()}}.png"
          title={{city.sys.country}}
          alt={{city.sys.country}}
          class="country-flag" />
        <span class="weather-descr">{{city.weather[0].description}}</span>
        <p>
          <span class="badge badge-info">{{Math.round(city.main.temp)}}&deg;C</span>
          temperature from {{city.main.temp_min}} to {{city.main.temp_max}} &deg;C, wind {{city.wind.speed}} m/s.
        </p>
      </td>
    </tr>
  </tbody>
</table>
