<div>
  <h2>Weather in {{city.name}}, {{city.sys.country}}</h2>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td rowspan="3">
          <h3>
            <img
              ng-src="http://openweathermap.org/img/w/{{city.weather[0].icon}}.png"
              alt="Weather {{city.name}}, {{city.sys.country}}" width="50" height="50"
            />
            {{Math.round(city.main.temp)}}&deg;C
          </h3>
          <p>{{getDate()}}</p>
        </td>
        <td>Wind</td>
        <td>
          {{city.wind.speed}} m/s, {{convertWindDeg(city.wind.deg)}} ( {{city.wind.deg}} )
        </td>
      </tr>
      <tr>
        <td>Pressure</td>
        <td>{{city.main.pressure}} hpa</td>
      </tr>
      <tr>
        <td>Humidity</td>
        <td>{{city.main.humidity}} %</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="item in forecast">
        <td>
          {{getDate(item.dt_txt)}}
          <img
            ng-src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png"
            alt="forecast"
          />
        </td>
        <td>
          <p>
            <span class="badge badge-danger">
              {{Math.round(item.main.temp_max)}}&deg;C
            </span>
            <span class="badge badge-primary">{{Math.round(item.main.temp_min)}}&deg;C&nbsp;</span>
            <i>{{item.weather[0].description}}</i>
          </p>
          <p>
            {{city.wind.speed}}&nbsp;m/s
            <br>
            clouds:&nbsp;{{item.clouds.all}}&nbsp;32%,&nbsp;&nbsp;
            {{city.main.pressure}}&nbsp;hpa
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
